name: Helm Charts Release AuthProxy

on:
  push:
    branches:
      - master
    paths:
      - charts/auth_proxy/**

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
      - name: Run chart-releaser
        uses: Fab-T/chart-releaser-action@v1.0.0-rc.3
        env:
          CR_TOKEN: "${{ secrets.CR_TOKEN }}"
        with:
          charts_repo_url: "https://Fab-T.github.io/"
          charts_repo: "test-helm-repo"
          toindex: "true"
